body{
	font-family: Arial;
	color:#777;
	background:#7DB9DE;
	position: relative;
}

header{
	width:100%;
	max-width:400px;
	height: 140px;
	margin:0 auto;
	position:relative;

}

h1{
	font-size: 30px;
	font-weight: bold;
	color: white;

	width: 100px;
	height: 100px;

	line-height: 50px;
	text-align: center;
	left: 5%;

	position: absolute;
	cursor:pointer;
}

.cover{
    position:fixed;
    outline:5000px solid rgba(0, 0, 0, 0);
    z-index: 1;
}

#versions,#newgamebutton{
	width: 100px;
	height: 20px;
	padding: 10px 10px;
	background-color: #8f7a66;

	color: white;
	border-radius: 10px;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	position: absolute;

	left: 25%;
	right: 25%;
	margin: 0 auto;

	margin-top: 25px;
}

#versions{
	top: 50px;
}

#gamescore{
	font-weight: bold;
	background-color:#E59866;
	color: white;
	font-size: 16px;

	width: 80px;
	height: 80px;
	margin-bottom: 20px;
	line-height: 40px;
	border-radius: 6px;
	text-align: center;
	right: 5%;
	position: absolute;

	margin-top: 30px;
}

#newgamebutton:hover,#versions:hover{
	background-color: #9f8b77;
}

header p{
	font-size: 25px;
}

#grid-container{
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #bbada0;

	border-radius: 10px;
	position: relative;
}

.grid-cell{
	background-color: #ccc0b3;
	position: absolute;
}

.number-cell{
	border-radius: 6px;

	font-weight:bold;
	line-height: 100px;
	text-align: center;

	position: absolute;
}

#addscore{
	position: absolute;
	right:20%;

	font-size: 30px;
	font-weight: 700;
	color:#7F8C8D;
}

#diy2048{
	cursor:pointer;
	width:100%;
	border:none;
	background:#5DADE2;
	color:#FFF;
	margin:0 auto;
	padding:10px;

	font-size:15px;
	font-weight: 700;
}

#diy2048:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#diy2048:active {
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

/*表单*/
.container {
	max-width:320px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:5px 0;
	display: none;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px 0;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

input {
	width:92%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 auto;
	padding:10px;

}


#contact-submit{
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 auto;
	padding:10px;
	font-size:15px;
}

#contact-submit:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact-submit:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

/*版本选择*/
#versionsselect{
	width: 100%;
	height: 100%;
	top: -100%;
    left: 0;
	position: fixed;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: rgba(28,28,28,0.8);
}

#versions1{
	top: 40%;

}

#versions2{
	top: 50%;
}

#versions3{
	top:60%;
}

#versions1,
#versions2,
#versions3{
	cursor:pointer;

	width: 150px;
	height: 30px;

	background:#F9BF45;
	border:none;
	border-radius: 6px;

	/*居中方法*/
	left: 20%;
	right: 20%;
	margin: 0 auto;
	position: absolute;
}

#versions1:hover,
#versions2:hover,
#versions3:hover{
	background:#FC9F4D;
}

#versions1:active,
#versions2:active,
#versions3:active{
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

/*关闭图标*/

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 25px;
    box-shadow: 2px 2px 5px 0px black;
    cursor: pointer;
}
.close:before {
    position: absolute;
    content: '';
    width: 30px;
    height: 10px;
    background: white;
    transform: rotate(45deg);
    top: 20px;
    left: 10px;
}
.close:after{
    content: '';
    position: absolute;
    width: 30px;
    height: 10px;
    background: white;
    transform: rotate(-45deg);
    top: 20px;
    left: 10px;
}
